.Portfolio {
  text-align: center;
}

.btn {
  border: 0;
  border-radius: 0;
  font-weight: 700;
  margin: 5px;
}
.btn-demo {
  border: 0;
  color: #fff;
  background-color: #3d808b;
}
.btn-demo:hover {
  border: 0;
  color: #fff;
  background-color: #5dabb8;
}

.btn-github {
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}
