.profile{
  background-color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

.myProfile {
  display :inline-block;
  border: solid;
}

.myIcon {
  display :inline-block;
  padding: 10px;
  border-color: gray;
}

#social-icon {
  display: inline-block;
  padding-top: 10px;
}

#social-icon a {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
  color: #fff;
}
#social-icon i {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  background: #c6bb80;
  line-height: 50px;
  text-align: center;
}
/* #social-icon i:before { padding: 0; line-height: 50px; } */
#social-icon .fa-twitter { background: #1da1f2; }
#social-icon .fa-github { background: #181717; }
/* #social-icon a:hover i .fa-twitter{ background: #1da1f2; } */



.profile {
  background-color: white;
}