.Navigation {
  text-align: center;
  font-size: 25px;
}

.Navigation-logo {
  height: 40vmin;
  pointer-events: none;
}


.Navigation-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navigation-link {
  color: #61dafb;
}

.Navbar-brand {
  font-size: 25px;
}